## 1. 
## What is a database? Differentiate between SQL and NoSQL databases.
#### SQL databases are relational databases that store data in tables with predefined relationships, while NoSQL databases store data in a non-tabular format. 
#### SQL databases use SQL to manipulate and query data, while NoSQL databases use various languages, such as JavaScript and JSON.
#### SQL databases are used in many applications and are particularly useful for applications that require transactions and data consistency, such as banking systems, eCommerce websites, and enterprise resource planning (ERP) systems.

# 2.
## What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#### DDL stands for Data Definition Language, which is a set of SQL commands used to define the structure and schema of a database. DDL commands are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.
### CREATE :
#### --> The CREATE command is used to create a new database object, such as a table, view, or index.
### DROP :
#### -->The DROP command is used to delete a database object, such as a table, view, or index.
### ALTER :
#### --> The ALTER command is used to modify the structure of an existing database object, such as a table or index. 
### TRUNCATE :
#### -->The TRUNCATE command is used to delete all data from a table, but not the table itself.

## Ex:

#### CREATE TABLE customers (id INT PRIMARY KEY,name VARCHAR(50),email VARCHAR(100),age INT);
#### DROP TABLE customers;
#### ALTER TABLE customers ADD Address VARCHAR(100);
#### TRUNCATE TABLE customers;

# 3.
## What is DML? Explain INSERT, UPDATE, and DELETE with an example.
#### DML stands for Data Manipulation Language, which is a set of SQL commands used to manage the data within a database. DML commands are used to insert, update, and delete data in a table.
### INSERT :
#### --> The INSERT command is used to add new rows of data to a table.
### UPDATE :
#### --> The UPDATE command is used to modify existing data in a table.
### DELETE :
#### --> The DELETE command is used to remove rows of data from a table.

## EX:
#### INSERT INTO customers (id, name, email, age)
#### VALUES (1, 'harsh patel', 'harsh@gmail.com', 30);
#### UPDATE customers SET age = 35 WHERE id = 1;
#### DELETE FROM customers WHERE id = 1;

# 4.
## What is DQL? Explain SELECT with an example.
#### DQL stands for Data Query Language, which is a set of SQL commands used to query and retrieve data from a database. DQL commands are used to retrieve data from one or more tables in a database.
#### SELECT * FROM users;
#### SELECT email FROM users WHERE name ="Harsh patel";

# 5.
## Explain Primary Key and Foreign Key.
### Primary Key:
#### --> A primary key is a unique identifier for a record in a table. It is a column or a set of columns that uniquely identify each row in a table.
#### --> Primary keys are used to enforce data integrity and ensure that each row in a table is unique. A table can have only one primary key, and it cannot contain null values. Examples of primary key columns include social security number, employee ID, and customer ID.

### Foreign Key:
#### --> A foreign key is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish relationships between tables and enforce referential integrity. A foreign key in one table is always a primary key in another table. 
#### -->For example, in a database that tracks customers and orders, the order table would contain a foreign key column that references the customer ID column in the customer table. This ensures that each order is associated with a valid customer.

# 6.
## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#### import mysql.connector
#### cnx = mysql.connector.connect(
#### host="localhost",
#### user="username",
#### password="password",
#### database="database_name"
#### )
#### cursor = cnx.cursor()
#### query = "SELECT * FROM customers"
#### cursor.execute(query)

# 7.
## Give the order of execution of SQL clauses in an SQL query.

### FROM
#### -->  This clause specifies the table or tables from which data will be retrieved. It is the first clause that is executed in a SQL query.
### WHERE
#### --> This clause is used to filter the data based on certain conditions. It is executed after the FROM clause and before the SELECT clause.
### GROUP BY
#### --> This clause is used to group the data based on one or more columns. It is executed after the WHERE clause and before the SELECT clause.
### HAVING 
#### --> This clause is used to filter the groups based on certain conditions. It is executed after the GROUP BY clause and before the SELECT clause.
### SELECT
#### --> This clause is used to select the columns that will be included in the result set. It is executed after the FROM, WHERE, GROUP BY, and HAVING clauses.
### ORDER BY
#### --> This clause is used to sort the result set based on one or more columns. It is executed after the SELECT clause.
### LIMIT
#### --> This clause is used to limit the number of rows returned by the query or to specify the starting point for retrieving rows. It is executed after the ORDER BY clause.