# 1.
## What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
#### --> MongoDB is a popular document-oriented, non-relational database management system. It is designed to store and manage unstructured or semi-structured data in the form of documents that can be easily indexed and queried.
#### --> Non-relational databases, also known as NoSQL databases NoSQL databases are generally preferred in scenarios where there is a need to store and manage large volumes of unstructured or semi-structured data, such as social media data, sensor data, or logs. They are also useful for applications that require high scalability and availability, as they are designed to scale horizontally across multiple nodes and to provide high availability even in the event of node failures.
#### --> MongoDB is a popular choice for many applications because of its ease of use, scalability, and flexibility. Some scenarios in which MongoDB might be preferred over SQL databases include:

#### Storing and managing large volumes of unstructured data, such as JSON documents. 
#### Needing to scale horizontally across multiple nodes to handle high volumes of traffic.
#### Requiring fast read and write speeds for real-time data processing.
#### Needing the flexibility to change the data schema on-the-fly without having to modify the underlying database structure.
#### Developing web and mobile applications with modern JavaScript frameworks, as MongoDB's query language and data model are compatible with JSON and JavaScript.

# 2.
## State and Explain the features of MongoDB.
#### MongoDB is a popular document-oriented, non-relational database management system that provides a number of key features that make it a popular choice for many applications. Some of the main features of MongoDB are:

#### Document-oriented data model: MongoDB uses a document-oriented data model, which means that data is stored as JSON-like documents. This makes it easy to store and manage unstructured or semi-structured data without the need for a predefined schema.
#### Scalability: MongoDB is designed to scale horizontally across multiple nodes, making it easy to handle large volumes of data and high levels of traffic.
#### Flexibility: MongoDB allows for flexible data modeling and indexing, which means that data can be stored and retrieved in a variety of ways. This also makes it easy to change the data schema on-the-fly without having to modify the underlying database structure.
#### Indexing and querying: MongoDB provides a powerful indexing and querying system that makes it easy to search for and retrieve data from large datasets.
#### Aggregation framework: MongoDB provides a powerful aggregation framework that makes it easy to perform complex data analysis tasks on large datasets.
#### Support for geospatial data: MongoDB provides built-in support for geospatial data, making it easy to store and manage location-based data.
#### Automatic sharding and replication: MongoDB provides automatic sharding and replication, which means that data can be distributed across multiple nodes for improved scalability and availability.
#### Integration with popular programming languages: MongoDB provides drivers and APIs for a variety of popular programming languages, including Python, Java, and Node.js.

# 3.
##  Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Terminator:harshil1807@cluster0.jvh9wk5.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
client

MongoClient(host=['ac-1sleezp-shard-00-00.jvh9wk5.mongodb.net:27017', 'ac-1sleezp-shard-00-01.jvh9wk5.mongodb.net:27017', 'ac-1sleezp-shard-00-02.jvh9wk5.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-253s0q-shard-0', tls=True)

In [3]:
client = pymongo.MongoClient("mongodb+srv://Terminator:harshil1807@cluster0.jvh9wk5.mongodb.net/?retryWrites=true&w=majority")

In [4]:
db=client['PeakyBlinders']

In [5]:
coll= db["Series"]

In [6]:
data={"Charecters" : ["Thomas shelby","Arthur shelby","john shelby"],
      "Seasons" : 6,
      "Type" : "Action"
}

In [7]:
coll.insert_one(data)

# 4.
## Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record. data3={"name":"Sardar patel","Goal":"To get freedom"}

In [8]:
data1={"Name" : "Thomas Shelby" , "About" : "Smart and leader of team" }

In [9]:
coll.insert_one(data1)

In [10]:
data2 =[{"Name" : "Arthur shelby" , "About" :"Eldest person of team " },{"Name" : "Leo Shelby" , "About" : "Aunt of Thomas,Arthur,John"},{"Name" : "linda shelby", "About" : "Sister of all 3"}]

In [11]:
coll.insert_many(data2)

In [12]:
for i in coll.find():
    print(i)

{'_id': ObjectId('6406fa8b7da55fe621cda9a0'), 'Charecters': ['Thomas shelby', 'Arthur shelby', 'john shelby'], 'Seasons': 6, 'Type': 'Action'}
{'_id': ObjectId('6406fa8d7da55fe621cda9a1'), 'Name': 'Thomas Shelby', 'About': 'Smart and leader of team'}
{'_id': ObjectId('6406fa8d7da55fe621cda9a2'), 'Name': 'Arthur shelby', 'About': 'Eldest person of team '}
{'_id': ObjectId('6406fa8d7da55fe621cda9a3'), 'Name': 'Leo Shelby', 'About': 'Aunt of Thomas,Arthur,John'}
{'_id': ObjectId('6406fa8d7da55fe621cda9a4'), 'Name': 'linda shelby', 'About': 'Sister of all 3'}

# 5.
## Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [13]:
for i in coll.find({"Name" : "Arthur shelby"}):
    print(i["About"])

Eldest person of team

# 6.
## Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
#### -->  In MongoDB, the 'sort()'' method is used to sort the results of a query in ascending or descending order based on one or more fields. The method takes one or more fields as arguments and an optional value of 1 for ascending order or -1 for descending order.

In [14]:
for i in coll.find().sort("About",-1):
    print(i)

{'_id': ObjectId('6406fa8d7da55fe621cda9a1'), 'Name': 'Thomas Shelby', 'About': 'Smart and leader of team'}
{'_id': ObjectId('6406fa8d7da55fe621cda9a4'), 'Name': 'linda shelby', 'About': 'Sister of all 3'}
{'_id': ObjectId('6406fa8d7da55fe621cda9a2'), 'Name': 'Arthur shelby', 'About': 'Eldest person of team '}
{'_id': ObjectId('6406fa8d7da55fe621cda9a3'), 'Name': 'Leo Shelby', 'About': 'Aunt of Thomas,Arthur,John'}
{'_id': ObjectId('6406fa8b7da55fe621cda9a0'), 'Charecters': ['Thomas shelby', 'Arthur shelby', 'john shelby'], 'Seasons': 6, 'Type': 'Action'}

# 7.
## Explain why delete_one(), delete_many(), and drop() is used.

### 1] delete_one():
#### This is used to delete a single document that matches a given query. For example, you might use delete_one() to remove a user's record from a database when they cancel their account. 

### 2] delete_many():
#### This is used to delete all the documents that match a given query. This method is useful when you need to remove multiple records that match certain criteria. For example, you might use delete_many() to delete all the orders placed by a customer who has requested that their account be closed.

### 3] drop() :
#### This is used to delete an entire collection (equivalent to a table in relational databases) from a database. This method is a more drastic step than delete_one() or delete_many()

In [16]:
result=coll.delete_one({"Name":"Leo Shelby"})
print(result.deleted_count,"document deleted")

1 document deleted

In [18]:
result1=coll.delete_many({"Goal":{"$eq":"About"}})
print(result.deleted_count,"document deleted")

1 document deleted

In [19]:
coll.drop()