# 1.Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd
data={ "Hours" : [6,4,7,5,9],
       "Score" : [85,76,92,73,90]
}
df=pd.DataFrame(data)
df.corr()

          Hours     Score
Hours  1.000000  0.831595
Score  0.831595  1.000000

# 2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [2]:
data={  "Sleep_Hours" : [8,7,6,4,5],
        "Job_Satisfaction" : [8,9,7,8,6]
}
df=pd.DataFrame(data)
df.corr()

                  Sleep_Hours  Job_Satisfaction
Sleep_Hours          1.000000          0.416025
Job_Satisfaction     0.416025          1.000000

# 3.Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [3]:
df=pd.read_csv('Data.csv')
df.corr()

                   Unnamed: 0  Participants  hours_of_exercise       BMI
Unnamed: 0           1.000000      1.000000          -0.060427  0.005781
Participants         1.000000      1.000000          -0.060427  0.005781
hours_of_exercise   -0.060427     -0.060427           1.000000  0.978534
BMI                  0.005781      0.005781           0.978534  1.000000

In [4]:
df.corr('spearman')

                   Unnamed: 0  Participants  hours_of_exercise       BMI
Unnamed: 0           1.000000      1.000000          -0.058631  0.007849
Participants         1.000000      1.000000          -0.058631  0.007849
hours_of_exercise   -0.058631     -0.058631           1.000000  0.979614
BMI                  0.007849      0.007849           0.979614  1.000000

# 4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [5]:
df=pd.read_csv('TV.csv')
df.corr()

                   Unnamed: 0  hours_tv  physical_activity
Unnamed: 0           1.000000  0.083886           0.026361
hours_tv             0.083886  1.000000          -0.867852
physical_activity    0.026361 -0.867852           1.000000

In [6]:
df.corr('spearman')

                   Unnamed: 0  hours_tv  physical_activity
Unnamed: 0           1.000000  0.089257           0.025374
hours_tv             0.089257  1.000000          -0.863785
physical_activity    0.025374 -0.863785           1.000000

# 5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:
#### Age(Years)   Soft drink Preference
#### 25           Coke
#### 42           Pepsi
#### 37           Mountain dew
#### 19           Coke
#### 31           Pepsi
#### 28           Coke

In [7]:
df=pd.DataFrame({
    "age":[25,42,37,19,31,28],
    "soft drink Preference":["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]
})

In [11]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[["soft drink Preference"]]).toarray()
print(encoded)

[[1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]]

# 6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [12]:
df=pd.DataFrame({
    "sales_calls" : [20, 25, 30, 35, 40, 45, 20, 25, 30, 35, 40, 45, 20, 25, 30, 35, 40, 45, 20, 25, 30, 35, 40, 45, 20, 25, 30, 35, 40, 45],
    "sales_per_week" : [5, 7, 8, 10, 12, 14, 5, 7, 8, 10, 12, 14, 5, 7, 8, 10, 12, 14, 5, 7, 8, 10, 12, 14, 5, 7, 8, 10, 12, 14]
})
df.corr()

                sales_calls  sales_per_week
sales_calls        1.000000        0.996206
sales_per_week     0.996206        1.000000