# 1.
## List any five functions of the pandas library with execution.

### 1] read_csv

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('trees.csv')

## 2]head()
## 3]tail()

In [3]:
df.head()

   Index   "Girth (in)"   "Height (ft)"   "Volume(ft^3)"
0      1            8.3              70             10.3
1      2            8.6              65             10.3
2      3            8.8              63             10.2
3      4           10.5              72             16.4
4      5           10.7              81             18.8

In [4]:
df.tail()

    Index   "Girth (in)"   "Height (ft)"   "Volume(ft^3)"
26     27           17.5              82             55.7
27     28           17.9              80             58.3
28     29           18.0              80             51.5
29     30           18.0              80             51.0
30     31           20.6              87             77.0

## 4] info()

In [5]:
import pandas as pd

data = {'Name': ['A', 'B', 'C', 'D'], 'Age': [23, 35, 28, 45], 'Salary': [45000, 60000, 55000, 70000]}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

# 2.
## Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
d={"A":[1,2,3,4] , "B":[5,6,7,8] , "C":[9,10,11,12]}
df=pd.DataFrame(d)
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

# 3.
## You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. Thefunction should print the sum to the console.
## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [7]:
d={"values":[10,20,30,40,50]}
df=pd.DataFrame(d)

def Sum(df):
    x=df.loc[0:2,["values"]]
    print(x.sum())
Sum(df)

values    60
dtype: int64

# 4.
## Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
def words_count(df):
    df["Word_Count"]=df["Text"].apply(lambda x: len(x.split()))
    return df
df=pd.DataFrame({"Text":['I am Terminator ' , 'I am a robot' ,'I came from Future']})
df=words_count(df)
df

                 Text  Word_Count
0    I am Terminator            3
1        I am a robot           4
2  I came from Future           4

# 5.
## How are DataFrame.size() and DataFrame.shape() different?

#### --> Both DataFrame.size() and DataFrame.shape() are methods in Pandas used to get information about the dimensions of a DataFrame.

#### --> DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. It does not provide information about the shape of the DataFrame.

#### --> DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame. The first element of the tuple is the number of rows, and the second element is the number of columns. F

In [9]:
df.size

6

In [10]:
df.shape

(3, 2)

# 6.
## Which function of pandas do we use to read an excel file?
#### --> To read an Excel file in Pandas, we use the read_excel() function.

# 7.
## You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
## The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [11]:
df=pd.DataFrame({"Email" : ['john.doe@example.com', 'term@gmail.com', 'xyz@example.com']})

def Username(df):
    df['username'] = df['Email'].str.split('@').str[0]
    return df
    
Username(df)

                  Email  username
0  john.doe@example.com  john.doe
1        term@gmail.com      term
2       xyz@example.com       xyz

# 8.
## You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.The function should return a new DataFrame that contains only the selected rows.

In [12]:
df= pd.DataFrame({"A" : [6,7,2,4,9,2], "B" : [4,8,12,17,5,1] , "C" : [2,4,7,9,22,6]})

def result(df):
    x=df[(df['A']>5) & (df['B']<10)]
    return x
result(df)

   A  B   C
0  6  4   2
1  7  8   4
4  9  5  22

# 9.
## Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [13]:
df=pd.DataFrame({"values":[10,20,30,40,50]})

def stats(df):
    return df['values'].mean() , df['values'].median() , df['values'].std()

result=stats(df)
print(result)

(30.0, 30.0, 15.811388300841896)

# 10.
## Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [14]:
df=pd.DataFrame({"Sales":[2,5,7,8,9,15,18,6,8,9,23,8],"Date":[3,2,4,5,1,6,10,7,9,8,11,12]})

def moving_average(df):
    df = df.sort_values(by='Date').reset_index(drop=True)
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df1=moving_average(df)
df1

    Sales  Date  MovingAverage
0       9     1       9.000000
1       5     2       7.000000
2       2     3       5.333333
3       7     4       5.750000
4       8     5       6.200000
5      15     6       7.666667
6       6     7       7.428571
7       9     8       7.428571
8       8     9       7.857143
9      18    10      10.142857
10     23    11      12.428571
11      8    12      12.428571

# 11.
## You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.The function should return the modified DataFrame.

In [15]:
df=pd.DataFrame({"Date":['2023-12-01','2023-10-12','2023-01-13','2023-05-24','2023-11-05']})
df

         Date
0  2023-12-01
1  2023-10-12
2  2023-01-13
3  2023-05-24
4  2023-11-05

In [16]:
def new(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df
new(df)

        Date    Weekday
0 2023-12-01     Friday
1 2023-10-12   Thursday
2 2023-01-13     Friday
3 2023-05-24  Wednesday
4 2023-11-05     Sunday

# 12.
## Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [17]:
df=pd.DataFrame({"Date":['2023-01-11','2023-10-12','2023-01-23','2023-05-24','2023-11-05']})

def Select(df):
    df['Date'] = pd.to_datetime(df['Date'])
    x = df[(df['Date']>'2023-01-01') & (df['Date']<'2023-01-31')]
    return x
df1=Select(df)
df1

        Date
0 2023-01-11
2 2023-01-23

# 13.
## To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
#### --> The first and foremost necessary library that needs to be imported to use the basic functions of pandas is 'pandas' itself. The following code can be used to import pandas:

In [18]:
import pandas as pd