In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# 1.
## Write a code to print the data present in the second row of the dataframe, df.

In [2]:
df[1:2]

        course_name  duration
1  Machine Learning         3

# 2.
## What is the difference between the functions loc and iloc in pandas.DataFrame?
#### --> loc uses label-based indexing, which means that you use the actual row and column labels to select the data
#### --> iloc uses integer-based indexing, which means that you use the integer position of the rows and columns to select the data.

# 3.
## Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

In [3]:
df.reindex(index =[3,0,1,2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [4]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

# Consider below codes

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# 4.
## Write a code to find the following statistical measurements for the above dataframe df1:
#### 1] mean of each and every column present in the dataframe.
#### 2] standard deviation of column, ‘column_2’

In [7]:
df1.mean()

column_1    0.669446
column_2    0.754040
column_3    0.649894
column_4    0.408329
column_5    0.426863
column_6    0.466457
dtype: float64

In [8]:
df1['column_2'].mean()

0.7540398953666859

# 5.
## Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
x = df1['column_2'].notnull()
df1.loc[x, 'column_2'] = np.where(x, 'Ram', df1['column_2'])
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.717241      Ram  0.738955  0.075720  0.689823  0.292761
2  0.647898      Ram  0.693204  0.722939  0.001267  0.895741
3  0.981377      Ram  0.327904  0.176202  0.552151  0.081035
4  0.573945      Ram  0.637543  0.177179  0.337787  0.170267
5  0.119563      Ram  0.834172  0.962512  0.277348  0.708747
6  0.976651      Ram  0.667584  0.335422  0.702799  0.650189

In [10]:
df1['column_2'].mean()

TypeError: Could not convert RamRamRamRamRamRam to numeric

#### --> It is giving error because it can'nt possible to convert string to numeric for computing average.

# 6.
## What do you understand about the windows function in pandas and list the types of windows functions?

#### --> In Pandas, a window function is a way of applying a function to a rolling window of data. A rolling window is a fixed-size window that slides along a sequence of data to compute a new value for each position.

### There are several types of window functions that can be used in Pandas, including:

#### 1] Rolling window functions: These functions compute a statistic over a rolling window of data. Examples include rolling.mean(), rolling.max(), rolling.min(), and rolling.sum().

#### 2] Expanding window functions: These functions compute a statistic over an expanding window of data, where the window size increases with each new data point. Examples include expanding.mean(), expanding.max(), expanding.min(), and expanding.sum().

#### 3] Exponentially weighted window functions: These functions compute a statistic over a rolling window of data, where each data point is weighted according to an exponentially decreasing function. Examples include rolling.ewm().mean(), rolling.ewm().var(), and rolling.ewm().std().

#### 4] Aggregating window functions: These functions compute a statistic over a window of data, but unlike rolling and expanding functions, the window is defined by an offset rather than a fixed size. Examples include rolling.agg(), expanding.agg(), and ewm.agg().

# 7.
## Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import datetime

now = datetime.datetime.now()
current_month = now.strftime("%B")
current_year = now.strftime("%Y")

print(current_month)
print(current_year)

# 8
## Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [ ]:
date1=input()
date1=pd.to_datetime(date1)
date2=input()
date2=pd.to_datetime(date2)
result=date2-date1
print(result)

# 9.
## Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
cat_order = input("Enter the categorical order csv : ").split(",")


df = pd.read_csv(file_path)
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)
df = df.sort_values(by=col_name)
print(df)

# 10.
## Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path=input("Enter Path:")
df=pd.read_csv(file_path)
df.plot(kind='bar', stacked=True)

# 11.
## You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

### The program should do the following:
#### I Prompt the user to enter the file path of the CSV file containing the student dataR
#### I Read the CSV file into a Pandas DataFrameR
#### I Calculate the mean, median, and mode of the test scores using Pandas toolsR
#### I Display the mean, median, and mode in a table.

### Assume the CSV file contains the following columns:
#### I Student ID: The ID of the studentR
#### I Test Score: The score of the student's test.

In [17]:
df=pd.read_csv('trees.csv')

In [ ]:
df1=pd.DataFrame({"Statistic":["mean","median","mode"],"Value":[df12["Index"].mean(),df12["Index"].median(),df12["Index"].mode()]})
df1